/*контакты*/
div#contactsPage {

	p.contactText{
		color: $green;
		position: absolute;
		margin-left: 190px;
		margin-top: -70px;
		font-size: 22px;
		font-weight: 200;
		line-height: 25px;
		
		span{
			text-decoration: underline;
		}
		
	}
	
	img#contactMap{
		margin-top: 20px;
		width: 860px;
		
	}
	
	img.big-hidden{
		display: none;
	}
	
	h1{
		margin-top: 10px;
		margin-left: 430px;
	}
}

