/*косметикс*/

div.cosmetics{


	@include clearfix;
	padding-top: 18px;
	padding-bottom: 34px;
	
	div.button{
		width: 140px;
		height: 140px;
		background-color: $darkGrey;
		display: inline-block;
	}
	div.button:hover{
		background-color: $bordo;
	}
	
	p{
		margin-top: 25px;
		margin-bottom: 0;
		font-size: 14px;
	}
	
	h5 a{
		line-height: 28px;
		color: $green;
		font-size: 20px;
		text-decoration: underline;
		}
	h5 a:hover{
		color: $bordo;
		}	
	
	ul#directions{
		
		margin-top: 24px;
		list-style: disc inside;
		ol{
			padding-left: 14px;
			padding-top: 14px;
			color: black;
		}
		>li{
			color: $green;
		}
	}
	
	h1,h2{
		margin-left: 0;
	}
	
	aside{
		width: 289px;
		padding-left: 30px;
		float: left;
	}
	
	div.rightPart{
		width: 530px;
		float: right;
		
	}
	
	img.catalogue{
		margin-top: 19px;
	}
		

	
}