
div.central.medicine,
div.central.cosmetics,
div.central.sanitary{

	div.button{
		width: 140px;
		height: 140px;
		background-color: $darkGrey;
		display: inline-block;
	}
	
	p{	
		font-size: 14px;
		margin-top: 20px;
		margin-bottom: 0;
	}
	
	
	h5 a{
		line-height: 28px;
		color: $green;
		font-size: 20px;
		text-decoration: underline;
		}
		
	h5 a:hover{
		color: $bordo;
		}	
		
	div.cosmText ul{
		margin-top: 30px;
		margin-bottom: 30px;
		list-style-type: disc;
		list-style-position: inside;
		text-indent: 40px;
	}

	
	
	ul#directions{
		list-style: disc inside;
		ol{
			padding-left: 14px;
			padding-top: 14px;
			color: black;
		}
		>li{
			color: $green;
		}
	}
	
	@include clearfix;
	padding-top: 18px;
	padding-bottom: 34px;
	
	h1,h2{
		margin-left: 0;
		
		img{
			padding-bottom: 10px;
			padding-left: 20px;
		}
	}
	
	
	aside{
		width: 289px;
		margin-left: -11px;
		float: left;
		
		div.highlighted{
			background-color: $darkblue;
		}
	}
	
	div.rightPart{
		width: 530px;
		float: right;
		
	}
	
	img.catalogue{
		margin-top: 19px;
	}
	
	
	
}
div.medicine{
	div.button:hover{
		background-color: $darkblue;
	}
}


div.cosmetics{
	div.button:hover{
		background-color: $bordo;
	}
}



div.sanitary{
	div.button:hover{
		background-color: $green;
	}
}

	