/*вакансии*/
div.vacancy{

	background-color: white;
	h1,h2{
		margin-left: 0;
		font-weight: 300;
	}
	h3{
		font-size: 24px;
		text-decoration: underline;
		color: $bordo;
	}
	
	h6{
		color: $bordo;
		text-decoration: underline;
		margin-top: 22px;
		margin-bottom: 0;
	}
	p{
		margin-top: 2px;
		margin-bottom: 0;
	}
	
	ul{
		margin-bottom: 29px;
	}
	
	ul.generalInfo{
		margin-top: 18px;
		margin-bottom: 24px;
		list-style: disc inside;
		
		li{
			line-height: 20px;
			font-weight: 300;
			
		}
	}
	
	button{
		background-color: $green;
		@include border-radius(20px);
		padding: 15px 10px;
		width: 200px;
		font-weight: 100;
		font-size: 14px;
		border: none;
		margin-bottom: 27px;
		margin-top: 16px;
		color: white;
		
		span{
			font-size: 10px;
		}
		a{
			color: white;
		}
	}
	
	button:hover{
		background-color: $bordo;
	}
	
}
