<aside>	
	<div class="button"><a href="#/construction"><img src="/img/knopka1.png"></a></div>
	<div class="button"><a href="#/construction"><img src="/img/knopka2.png"></a></div>
	<div class="button"><a href="#/construction"><img src="/img/knopka3.png"></a></div>
	<div class="button"><a href="#/cosmetics/perchatki"><img src="/img/knopka4.png"></a></div>
	<div class="button"><a href="#/construction"><img src="/img/knopka5.png"></a></div>
	<div class="button"><a href="#/construction"><img src="/img/knopka6.png"></a></div>
	<div class="button"><a href="#/construction"><img src="/img/knopka7.png"></a></div>
	<div class="button"><a href="#/construction"><img src="/img/knopka8.png"></a></div>
	<div class="button"><a href="#/construction"><img src="/img/knopka9.png"></a></div>
	<div class="button"><a href="#/construction"><img src="/img/knopka10.png"></a></div>
	<div class="button"><a href="#/construction"><img src="/img/knopka11.png"></a></div>
	<div class="button"><a href="#/construction"><img src="/img/knopka12.png"></a></div>
</aside>