<aside>	
	<div class="button" id="knopkaMed1"><a href="#/construction"><img src="/img/knopkaMed1.png"></a></div>
	<div class="button" id="knopkaMed2"><a href="#/medicine/perchatki"><img src="/img/knopkaMed2.png"></a></div>
	<div class="button" id="knopkaMed3"><a href="#/construction"><img src="/img/knopkaMed3.png"></a></div>
	<div class="button" id="knopkaMed4"><a href="#/construction"><img src="/img/knopkaMed4.png"></a></div>
	<div class="button" id="knopkaMed5"><a href="#/construction"><img src="/img/knopkaMed5.png"></a></div>
	<div class="button" id="knopkaMed6"><a href="#/construction"><img src="/img/knopkaMed6.png"></a></div>
</aside>