<div class="panel">
	<img src="./img/1.png">
	<img src="./img/2.png">
	<img src="./img/3.png">
	<img src="./img/4.png">
</div>

 <div id="newsHeader">
	<div class="news" id="firstNews">
		<h3></h3>
		<h2>медицинские маски<br>по привлекательным ценам<br>&nbsp;</h2>
		<a href="#/construction2"><button>подробнее&nbsp;&nbsp;&nbsp;&nbsp;<span id="treugolnik">&#9658;</span></button></a>
	</div>
	<div class="news">
		<h3></h3>
		<h2>Новинка.<br>Очки для солярия<br>&nbsp;</h2>
		<a href="#/construction2"><button>подробнее&nbsp;&nbsp;&nbsp;&nbsp;<span id="treugolnik">&#9658;</span></button></a>
	</div>
	<div class="news">
		<h3></h3>
		<h2>НОВИНКА!<br>ПРОСТЫНИ<br>НЕТКАННЫЕ НЕСТЕРИЛЬНЫЕ ИЗ СМС</h2>
		<a href="#/construction2"><button>подробнее&nbsp;&nbsp;&nbsp;&nbsp;<span id="treugolnik">&#9658;</span></button></a>
	</div>
	<div class="news">
		<h3></h3>
		<h2>ТОВАР МЕСЯЦА: <br> ТАПОЧКИ С ОТКРЫТОМ МЫСОМ  <br> НА ЖЕСТКОЙ ПОДОШВЕ, СИНИЕ</h2>
		<a href="#/construction2"><button>подробнее&nbsp;&nbsp;&nbsp;&nbsp;<span id="treugolnik">&#9658;</span></button></a>
	</div>
</div>
		
<div class="content">
	<div id="change">
		<div id="no0"></div>
		<div id="no1"></div>
		<div id="no2"></div>
		<div id="no3"></div>
	</div>
</div>