
@include breakpoint(max-width 960px){
	
	div.central{
		padding-left: 0;
		width: 290px;
	}


	div.central.construction{
		width: 420px;
	}

	
	div.central.medicine,
	div.central.sanitary,
	div.central.cosmetics{
		
		
		img.catalogue{
			margin-bottom: 19px;
		}
		
		h1 img{
			display: none;
		}
		
		aside{
			padding-left: 0;
		}
		
		h1, h2{
			margin-left: 0;
		}
		
		div.rightPart{
			float: left;
			width: auto;
			
			ul#directions{
				display: none;
			}
		}
	}
	
	div.central.cosmetics, 
	div.central.sanitary{

		h1 {
		
		font-size: 48px;

		}
	}


}