@include breakpoint(max-width 960px){

	#header-nav{
		display: none;
	}

	
	
	#header-nav.active{

		display: block;
		margin-top: 44px;
		position: absolute;
		z-index: 100;
		background: white;
		width: 290px;
		
		li a{
			font-size: 18px;
			padding: 4px;
			text-align: right;
			text-transform: uppercase;
			border-bottom: 1px dashed gray;
			display: block;
			}
			
		li a:hover{
			background-color: grey;
			color: white;
		}
	}
}
















