<div class="central cosmetics">

	<div class="rightPart">
		<h1>Косметология<img src="img/krugi.png" alt="kruzhok"></h1>
		<h2></h2>
		<img src="img/downloadCatalogue.png" alt="download Catalogue" class="catalogue">
	</div>
	<ng-include src="'views/partials/asideCosmetics.html'" autoscroll="true"></ng-include>
	<div class="rightPart">
		<div class="cosmText">
				<ul>
					<li>Направление Косметология включает в себя ассортимент товаров  для  обеспечения идеальной защиты и гигиены в салонах красоты, спа-салонах, а так же в домашних условиях.</li>
					<li>Предлагаемая нами продукция соответствует всем стандартам качества и отличается функциональностью и оптимальной ценой.</li>
				</ul>

		</div>

		<ul id="directions">
			<li><h5><a href="">Салон красоты</a></h5></li>
			<li><h5><a href="">Спа салоны</a></h5></li>
			<li><h5><a href="">Клиники красоты и здоровья</a></h5></li>
			<li><h5><a href="">Спортивные и оздоровительные центры</a></h5></li>
			<li><h5><a href="">Дом</a></h5></li>
		</ul>
		<p>Воспользовавшись фильтром можно получить рекомендованную нами номенклатуру одноразовых изделий мед. назначения для вышеперечисленных специализаций. Что сократит вам время поиска и изучения нашего полного каталога.</p>
	</div>
</div>
