<header>
	<div id="subHeader">
		<div class="cell logo" id="up"><a href="#/"><img src="img/mainLogo.png"s></a></div>
		<div class="cell hamburger"><button id="hamburger" class="cmn-toggle-switch cmn-toggle-switch__htx"><span>toggle menu</span></button></div>
		<div class="cell sm-hidden" ng-click="makeVisible('call')"><img src="img/pozv.png" class="contactCircle pozv"></div>
		<div class="cell big-hidden"><a href="tel:+78126480329"><img src="img/pozv.png" class="contactCircle pozv"></a></div>
		<div class="cell sm-hidden" ng-click="makeVisible('call')"><p name="changeColor">+7(812)<span> 648-03-29</span><br>Связаться с менеджером</p></div>
		<div class="cell sm-hidden" ng-click="makeVisible('email')"><img src="img/napis.png" class="contactCircle napis"></div>
		<div class="cell big-hidden"><a href="mailto:medicosm@medicosm.ru"><img src="img/napis.png" class="contactCircle napis"></a></div>
		<div class="cell sm-hidden" ng-click="makeVisible('email')"><a name="changeColor" href="">medicosm@medicosm.com</a></div>
		
			<label for="poisk"></label>
			<input type="text" placeholder="Найти..." id="poisk">
			<nav id="header-nav">
				<ul class="dropdown">
				<li class="dropdown-top"><a href="#/construction">Новости</a></li>
				<li class="dropdown-top"><a href="#/about">О компании</a>
				<ul class="dropdown-inside">
				<li><a href="#/vacancy">вакансии</a></li>
				<li><a href="#/construction">мы</a></li>
				</ul></li>
				<li class="dropdown-top"><a href="#/construction">Направления</a>
				<ul class="dropdown-inside">
				<li><a href="#/medicine">медицина</a></li>
				<li id="li-3-stroki"><a href="#/sanitary">санитарно-<br>гигиенические<br>товары</a></li>
				<li><a href="#/cosmetics">косметология</a></li>
				</ul></li>
				<li><a href="#/construction">сертификация</a></li>
				<li class="dropdown-top"><a href="#/contacts">Контакты</a>
				<ul class="dropdown-inside">
				<li><a href="#/feedback">обратная связь</a></li>
				</ul></li>
				</ul>
			</nav>
	</div>
</header>  