<div class="central sanitary">

	<div class="rightPart">
		<h1>Санитарно-<br>гигиенические<img src="img/krugi.png" alt="kruzhok"><br>товары</h1>
		<h2></h2>
		<img src="img/downloadCatalogue.png" alt="download Catalogue" class="catalogue">
	</div>
	<ng-include src="'views/partials/asideSanitary.html'" autoscroll="true"></ng-include>
	<div class="rightPart">
		<div class="cosmText">
				<ul>
					<li>Санитарно-гигиеническое направление включает в себя ассортимент товаров для индивидуальной гигиены как на производственных площадках так и в быту.</li>
				</ul>

		</div>

		<ul id="directions">
			<li><h5><a href="">Чистота и защита при изготовление продуктов питания по всей технологической цепочке</a></h5></li>
			<li><h5><a href="">Обеспечение гигиены и чистоты кейтеринговых служб  и предприятий HoReCa</a></h5></li>
			<li><h5><a href="">Защита при лакокрасочных и прочих работах в автомастерских</a></h5></li>
			<li><h5><a href="">Обеспечение защиты и гигиены при строительных работах</a></h5></li>
			<li><h5><a href="">Обеспечение гигиены и чистоты клининговых служб  и в гостиничном хозяйстве</a></h5></li>
		</ul>
		<p>Воспользовавшись фильтром можно получить рекомендованную нами номенклатуру одноразовых изделий мед. назначения для вышеперечисленных специализаций. Что сократит вам время поиска и изучения нашего полного каталога.</p>
	</div>
</div>
