<div class="outerAbout">
	<div class="central about">
		<h1>О компании<img src="img/krugi.png" alt="kruzhok"></h1>
		<h2></h2>
		<img src="img/karta.jpg" id="karta">
		<p>Компания МЕДИКОСМ является дистрибьютором медицинских, косметологических, а так же санитарно-гигиенических расходных материалов на рынке России, Беларуси и Казахстана.</p>
		<p>Клиентами компании являются медицинские оптовые, розничные компании и клиники, предприятия индустрии красоты от салонов, спа-центров до сетевых магазинов, а так же предприятия использующие различные одноразовые расходные материалы для обеспечения санитарных норм на производстве и в сфере обслуживания.</p>
		<p>Качество, ответственность и долгосрочные отношениям с нашими клиентами, партнерами и поставщиками, являются ключевыми факторами для нас во всех областях.</p>
		<img src="img/3kruga.png" id="krugi">
	</div>
</div>
