<div class="popUp callPop" id="callPop">
	<div id="feedback-form">
		<form id="myForm1" ng-submit="requestCall(form)" novalidate class="css-form">
			<table>
				<tr ng-show="wasSent" class="sucessfullySent"><td></td><td>Ваше сообщение было отправлено! Спасибо</td></tr>
				<tr>
					<td><img alt="writeUs" src="/img/pozv.png"></td>
					<td> <h3>+7 (812) 648-03-29</h3> </td>
				</tr>
				<tr>
					<td></td>
					<td><label class="gorod">Ваш город</label> <input id="city" placeholder="Введите город" type="text" ng-model="form.city" required></td>
				</tr>
				<tr>
					<td><label>Телефон</label></td><td><input type="text" type="text" value="" ng-model="form.phone" required></td>
				</tr>
				<tr>
					<td><label>ФИО</label></td><td><input type="text" type="text" value="" ng-model="form.name" required></td>
				</tr>
				<tr>
					<td></td>
					<td> <h3><button ng-disabled="(myForm1.$invalid || wasSent)">перезвонить</button></h3> </td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div id="blackScreen" ng-click="removeMe()">
</div>