<div class="central medicine">
	<aside>	
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
		<img src="img/plashka1.jpg" alt="Plashka1">
	</aside>
	<div id="rightPart">
		<h1>Сертификация<img src="img/krugi.png" alt="kruzhok"></h1>
		<h2></h2>
		<br><br>
		<h4>Перчатки</h4>
		<p>Перчатки нитриловые</p>
		<img src="img/certificate.jpg">
		<img src="img/certificate.jpg">
		<img src="img/certificate.jpg">
		<img src="img/certificate.jpg">
		<p>Перчатки латексные</p>
		<img src="img/certificate.jpg">
		<img src="img/certificate.jpg">		
	</div>
</div>
