<div class="central cosmetics">

	<div class="rightPart">
		<h1>Косметология<img src="img/krugi.png" alt="kruzhok"></h1>
		<h2></h2>
		<img src="img/downloadCatalogue.png" alt="download Catalogue" class="catalogue"> 
	</div>
	<ng-include src="'views/partials/asideCosmetics.html'" autoscroll="true"></ng-include>
	<div class="rightPart">
		<div class="cosmText">
			
			<p>В каталоге нашей продукции представлен широкий ассортимент косметологических расходных материалов и товаров.</p>
			<p>Наша продукция идеальна для обеспечения защиты и гигиены в салонах красоты, спа-салонах, а так же в домашних условиях.</p>
			<p>Предлагаемые нами товары отличаются высоким качеством, функциональностью, а так же презентабельностью.</p>
		</div>
		
		<ul id="directions">
			<li><h5><a href="">Салон красоты</a></h5></li>
			<li><h5><a href="">Косметический центр</a></h5></li>
			<li><h5><a href="">Комплексное предприятие-<br>красоты и здоровья</a></h5></li>
			<li><h5><a href="">Локальное предприятие-<br>индустрии красоты(ПИК)</a></h5></li>
			<li><h5><a href="">Монопредприятия</a></h5></li>
			<li><h5><a href="">СПА-Предприятия</a></h5></li>
			<li><h5><a href="">Фитнес-центр и спорт-клуб</a></h5></li>
			<li><h5><a href="">Магазины проф. косметики</a></h5></li>
		</ul>
	</div>
</div>
