<news-panel></news-panel>
<div class="content">
	



<!-- вторая панелька -->


<div id="cosmetics2">
	<div class="panel-left sm-hidden">
		<article>
		<img src="img/krugi.png" class="second-krug" alt="kruzhok"><h2>Перчатки латексные High Risk</h2>
		<p>Латексные перчатки повышенной прочности - полтные, полностью текстурированные. Для работы в лабораториях с агрессивными средами, травматологии, ортопедии. Для работ в паталогоанатомических отделениях. Возможно применение для бытовых нужд, в пищевой и химической промышленности.</p>
		</article>
	</div>	

	<div class="panel-right sm-visible">
		<div class="panel-center">
			<p class="img"><img src="img/kartinka.png"></p>
			<h2>Медицина</h2>
			<h2 class="polosa"></h2>
			<p class="description">Мы предлагаем:</p>
			<p>- спектр одноразовых изделий медицинского назначения для обеспечения защиты как пациента, так и пользователя</p>
			<p>- большой выбор одноразовых товаров для комплектации поликлинических, лечебных учреждений.</p>
			<p id="button"><a href="#/medicine/#top"><button>подробнее<span id="treugolnik">&#9658;</span></button></a></p>
			<img src="img/extra-list.png" alt="list decor" id="extra-list1">
		</div>
	</div>
	
</div>



<!-- третья панелька -->



<div id="cosmetics3">

	<div class="panel-left green sm-visible">
		<div class="panel-center">
			<p class="img"><img src="img/kartinka2.png"</p>
			<h2>Санитарно-<br>гигиентические<br>товары</h2>
			<h2 class="polosa"></h2>
			<p class="description">Расходные материалы для санитарии и гигиены- одно из приоритетных направлений развития нашей компании.</p>
			<p id="button"><a href="#/construction/#top"><button>подробнее<span id="treugolnik">&#9658;</span></button></a></p>
		</div>
	</div>
	

	<div class="panel-right third sm-hidden">
		<article>
		<h2>Шапочка "Шарлотта"<img src="img/krugi.png" alt="kruzhok"></h2>
		<p>Шапочка "Шарлотта" - универсальное средство защиты, которое применяется как в медицинской и косметической сфере, так и на предприятиях пищевой промыленности и в произвеодственных цехах. Они используются как в целях гигиены, так и с целью защиты волос или прически клиента во время процедуры. Также рекомендуется для защиты волос от утрафиолетовых лучей в солярии. В нашем ассортименте представлены шапочки разных цветов, изготовленные из спанбонда с мягкой резинкой.</p>
		</article>
	</div>	
</div>

<div id="cosmetics1">
	
	
		<div class="panel-right first sm-hidden">
			<article>
			<img src="img/krugi.png" class="second-krug" alt="kruzhok"><h2>Одноразовые воротнички</h2>
			<p>При проведениии парикмахерских услуг важным атрибутом являются одноразовые воротнички. Они защищают кожу клиента от попадания краски и других химических реагентов, а также обеспечивают полное прилегание пелерины к шее клиента, не вызывая неприятных ощущений. Они бывают двух видов: бумажные из крепированной бумаги и мягкие из спанлейса. В нашем ассортименте представлены оба варианта.</p>
			</article>
		</div>	
	
		<div class="panel-left sm-visible">
			<div class="panel-center">
				<img src="img/extra-list2.png" alt="list decor" id="extra-list2">
				<p class="img"><img src="img/kartinka3.png"></p>
				
				<h2>Косметология</h2>
				<h2 class="polosa"></h2>
				<p class="description">В каталоге нашей продукции представлен широкий ассортимент косметологических расходных материалов и товаров.</p>
				<p class="description">Наша продукция идеальна для обеспечения защиты и гигенты в салонах красоты, спа-салонах, а так же в домашних условиях.</p>
				<p id="button"><a href="#/cosmetics/#top"><button>подробнее<span id="treugolnik">&#9658;</span></button></a></p>
			</div>
		</div>
	

	
</div>



</div><!-- content -->

<div id="footer1">
	<img id="leaf-decor1" src="./img/leaf-decor1.png">
    <div id="leaves">
    	<div class="sub-leaves">
			<div id="circle1" class="leaf">
				<p class="leaf-digit">20</p>
			</div>
			<p class="leaf-text">Лет успешной работы</p>
    	</div>
    	
    	<div class="sub-leaves">
			<div id="circle2" class="leaf">
				<p class="leaf-digit">>1560</p>
			</div>
			<p class="leaf-text">Количество товаров</p>
    	</div>
    	
    	<div class="sub-leaves">
			<div id="circle3" class="leaf">
				<p class="leaf-digit">>350</p>
			</div>
			<p class="leaf-text">Новинок</p>
    	</div>
    	
    	<div class="sub-leaves">
			<div id="circle4" class="leaf">
				<p class="leaf-digit">3</p>
			</div>
			<p class="leaf-text">Направления</p>
    	</div>
    	
    	<div class="sub-leaves">
			<div id="circle5" class="leaf">
				<p class="leaf-digit">95</p>
			</div>
			<p class="leaf-text">Рабочие регионы</p>
    	</div>
   	</div>
   	<img id="leaf-decor2" src="./img/leaf-decor2.png">
</div>
    	
    	 
