<div class="central medicine">
	
	<div class="rightPart">
		<h1>Медицина<img src="img/krugi.png" alt="kruzhok"></h1>
		<h2></h2>
		<img src="img/downloadCatalogue.png" alt="download Catalogue" class="catalogue"> 
	</div>
	<ng-include src="'views/partials/asideMedicine.html'"></ng-include>	
	<div class="rightPart">
		<p>Мы предлагаем :<br>
		-  спектр одноразовых изделий медицинского назначения для обеспечения защиты как пациента и пользователя;</p>
		<p>- большой выбор одноразовых товаров для комплектации поликлинических, лечебных учреждений.</p>
		<p> Вся поставляемая нами продукция отличается качеством и безопасностью, что подтверждено российскими и зарубежными сертификатами.</p>
		<ul id="directions">
		<li><h5 ng-click="showDetails(medic1)"><a href="">Медицинские организации особого типа</a></h5>
			<ol ng-show="medic1" class="cssFade">
				<li>Лечебно-профилактические медицинские организации (ЛПУ)- специализированные лечебно-профилактические заведения, в которых людям с теми или иными заболеваниями оказывается полный спектр медицинских услуг: диагностика, лечение, реабилитация после перенесенных болезней. Под определение ЛПУ подпадают:</li>
			
				<li>1.1. Больница;</li>
				<li>1.2. Родильный дом. </li>
				<li>1.3. Госпиталь- военная больница.</li>
				<li>1.4. Медико-санитарная часть.</li>
				<li>1.5. Дом (больница) сестринского ухода.</li>
				<li>1.6. Хоспис.</li>
				<li>1.7. Лепрозорий.</li>
				<li>1.8. Диспансер.</li>
				<li>1.9. Амбулатория.</li>
				<li>1.10. Поликлиника.</li>
				<li>1.11. Женская консультация (ЖК).</li>
				<li>1.12. Дом ребенка, в том числе специализированный.</li>
				<li>1.13. Молочная кухня.</li>
				<li>1.14. Медицинские организации скорой медицинской помощи и переливания крови.</li>
				<li>1.15. Санаторно-курортные организации.</li>
				<li>1.16. Вытрезвитель</li>
				<li>1.17. Психоневрологический интернат (сокращённо ПНИ) </li>
				<li>1.18. Фельдшерско-акушерский пункт (ФАП) </li>
				<li>1.19. Стоматология</li>
			</ol>
		</li>
		
		
		<li><h5><a href="#/construction">Медицинские организации особого типа</a></h5></li>
		<li><h5><a href="#/construction">Медицинские центры нетрадиционной медицины</a></h5></li>
		<li><h5><a href="#/construction">Аптека</a></h5></li>
		<li><h5><a href="#/construction">Ветеринария</a></h5></li>
		</ul>
		
		<p>Воспользовавшись фильтром можно получить рекомендованную нами номенклатуру одноразовых изделий мед.назначения для вышеперечисленных специализаций. Что сократит вам время поиска и изучения нашего полного каталога.</p>
	</div>
</div>
