<div class="central construction">
	<h1>Санитарно-<img src="img/krugi.png" alt="kruzhok"><br>гигиенические<br>товары</h1>
	<h2></h2>
	
	<ul>
		<img id="bigConstruction" src="img/underConstruction.png">
		<img id="smallConstruction" src="img/underConstruction-sm.png">
		
		<li><a href="#/">перейти на главную</a></li>
		<li><a href="#/">медицина</a></li>
		<li><a href="#/cosmetics">санитарно-гигиенические товары</a></li>
		<li><a href="#/medicine">раздел косметология</a></li>

	</ul>
	
	
</div>


