<div class="central vacancy">
		<h1>Вакансии<img src="img/krugi.png" alt="kruzhok" ></h1>
		<h2></h2>
		<h6>Отдел персонала</h6>
		<p>Тел.: +7 (812) 449-62-70</p>
		<button><a href="mailto:medicosm@medicosm.ru?subject=Возьмите меня на работу&body=Добрый день%0AРассмотрите пожалуйста мою кандидатуру">medicosm@medicosm.ru</a></button>
		<div class="vacancyDiv">
			<h3>Менеджер по оптовым продажам(Медицинский расходный материал)</h3>
			<ul class="generalInfo">
				<li>Уровень зарплаты от 40 000 до 100 000 руб.</li>
				<li>Город - Санкт-Петерубург, Парнас</li>
				<li>Требуемый опыт работы - 1-3 года</li>
			</ul>
			<ul>
				<li>Поиск новых клиентов (холодные звонки)</li>
				<li>Выстраивание партнерских отношений с клиентами</li>
				<li>Договорная работа</li>
				<li>Ведение и расширение базы</li>
				<li>Продвижение продукта на рынке (расходные материалы для индустрии красоты)</li>
				<li>Оформление и сопровождение процесса отгрузки (1С)</li>
				<li>Контроль оплат</li>
				<li>Возврат документов</li>
			</ul>
		</div>
		<div class="vacancyDiv">
			<h3>Специалист по сертификации</h3>
			<ul class="generalInfo">
				<li>Уровень зарплаты от 45 000 до 50 000 руб.</li>
				<li>Город - Санкт-Петерубург, Парнас</li>
				<li>Требуемый опыт работы - 3-6 года</li>
			</ul>
			<ul>
				<li>- Оформление документов, подтверждающих соответствие товаров обязательным требованиям законодательства (сертификаты, декларации, экспертные заключения, свидетельства о государственной регистрации).</li>
				<li>- Организация экспертиз товара и документов, сдача образцов на испытания, получение протоколов.</li>
				<li>- Контроль изменений в законодательстве, связанных с правилами обеспечения товара сопроводительными документами и этикетками.</li>
				<li>- Взаимодействие с государственными органами сертификации, санитарного надзора с целью обеспечения соответствия сопроводительной документации требованиям законодательства РФ.</li>
				<li>- Проведение консультаций для сотрудников фирмы по вопросам обеспечения продаж сопроводительной документацией.</li>
				<li>- Контроль соответствия сопроводительной документации, предоставляемой поставщиком требованиям законодательства РФ.</li>
				<li>К- Проверка этикеток на предмет соответствия сведений требованиям действующего законодательства и сопроводительным документам. Ведение архива по сопроводительным документам.</li>
			</ul>
		</div>
		<div class="vacancyDiv">
			<h3>Менеджер оптовых региональных продажах</h3>
			<ul class="generalInfo">
				<li>Уровень зарплаты от 60 000 до 100 000 руб.</li>
				<li>Город - Санкт-Петерубург, Парнас</li>
				<li>Требуемый опыт работы - 1-3 года</li>
			</ul>
			<ul>
				<li>- Мотивация клиентов на работу с Компанией, ведение коммерческих переговоров с клиентами в интересах Компании.</li>
				<li>- Согласование условий работы с клиентами, оформление и заключение договоров;</li>
				<li>- Прием и обработка заказов клиентов, согласно технологии работы отдела;</li>
				<li>- Отслеживание сроков и сумм оплат клиентов</li>
				<li>- Контроль изменения статуса, платежеспособности и других изменений клиентской базы.</li>
				<li>- Поддержание в актуальном состоянии сведения, базы данных: клиентская база на закрепленной территории</li>
				<li>- Поддержание ассортиментной линейки у клиентов и обеспечение соответствующего позиционирования товара;</li>
				<li>- Совместная работа с сотрудниками других подразделений Компании, выстраивание доброжелательных отношений с ними;</li>
				<li>- Выполнение плановых показателей.</li>
				<li>- Контроль документооборота.</li>
				<li>- Предоставление отчетов по итогам в работы в соответствии с регламентом.</li>
			</ul>
		</div>
		<div class="vacancyDiv">
			<h3>Офис-менеджер</h3>
			<ul class="generalInfo">
				<li>Уровень зарплаты от 33 000 руб.</li>
				<li>Город - Санкт-Петерубург, Парнас</li>
				<li>Требуемый опыт работы - не требуется</li>
			</ul>
			<ul>
				<li>- приём и распределение входящих звонков</li>
				<li>- регистрация входящей, исходящей корреспонденции;</li>
				<li>- работа с транспортными компаниями, курьерскими службами;</li>
				<li>- заказ канцелярии;</li>
				<li>- организация встреч и приёмов;	</li>
				<li>- организация командировок (заказ билетов, бронирование гостиниц).</li>
			</ul>
		</div>
		<div class="vacancyDiv">
			<h3>Менеджер по персоналу</h3>
			<ul class="generalInfo">
				<li>Уровень зарплаты от 40 000 до 55 000 руб.</li>
				<li>Город - Санкт-Петерубург, Парнас</li>
				<li>Требуемый опыт работы - 1-3 года</li>
			</ul>
			<ul>
				<li>- своевременное и эффективное закрытие вакансий всех уровней, в соответствии с требованиями Компании;</li>
				<li>- мониторинг рынка труда и заработных плат;</li>
				<li>- адаптация новых сотрудников, сопровождение в период испытательного срока</li>
				<li>- участие в разработке систем мотивации,</li>
				<li>- работа с кадровым резервом компании,</li>
				<li>- участие в реализации других проектов отдела персонала.</li>
		</div>


</div>
